body {
  background-color:rgb(100, 101, 200);
  color:rgb(255, 240, 222);
  font-family: "Open Sans", sans-serif;
}
#title {
  font-family: "Roboto Condensed", sans-serif;
}
#holder {
  list-style: none;
  padding: 0;
  margin: 0;
}
